body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8d3e3;
}

.container {
    background-color: #d6e0f3;
    width: 300px;
    height: 430px;
}

#input {
    display: block;
    background-color: #dbc7e5;
    margin-bottom: 15px;
    padding: 20px;
    height: 60px;
    box-shadow: inset -5px -2px 10px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.btns, .btns-2 {
    position: relative;
    padding: 15;
    border: 2px solid #d6e0f3;
    margin: 3px;
    background-color: #f4f5f6;
    border-radius:  12px;
    box-shadow: 2px 5px 15px 5px rgba(0,0,0,0.05);
    transition:.13s ease-in-out;
    cursor: pointer;
    &:active{
      box-shadow: none;
      .button__content{
        box-shadow: none;
        .button__text, .button__icon{
          transform: translate3d(0px, 0px, 0px);
        }
      }
    }
}

#numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

#numbers-2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: -65px;
}

#btn-equal {
    grid-row: span 2;
}
